@font-face {
    font-family: "JaceBeleren-Bold";
    src: url("./JaceBeleren-Bold.woff") format("woff"); /* Modern Browsers */
    font-weight: bold;
    font-style: bold;
  }

body {
    font-family: "JaceBeleren-Bold";
    margin: 0px;
    background-color: #d1c2b6
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-image: url("./bulk.jpg");
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    align-content: center
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #b6c5d1;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.ADE-button {
    background-color: #b6c5d1;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 25px;
    min-width: 50px;
    outline:0;
    cursor: pointer;
  }

.log-in:hover, .log-out:hover, .register:hover, .ADE-button:hover {
  background-color: #87a0b3;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.loginRegister {
    text-align: center;
}

input[type=number]{
    width: 40px;
} 

/* this sectiontargets one element */
table{
    border-collapse: collapse;
    border: 0;
    box-shadow: 10px 10px 5px grey;
    text-align: center;

}
tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border-spacing: 0;
}
tbody tr:hover{
    background-color: #b39b87;
    box-shadow: 10px 10px 5px grey;
}


/* this section targets two elements */
tbody, thead tr { 
    display: block; 
    border-spacing: 0;
    border-collapse: collapse;
}
table, tbody tr, thead{
    border: 1px solid black;
}


/* this section targets three or more elements */
tr, th{
    height: 70px;
}


/* this section targets specific classes */
.table280, .head280{
    width: 280px;
}
.table145, .head145{
    width: 145px;
}
.table161, .head161{
    width: 161px;
}
.cardImageResults{
    width: 300px;
    height: auto;
    box-shadow: 10px 10px 5px grey;
}

/* this positions the table and the image on the DOM next to eachother with even space */
.user-flex, #add-card-flex{
    display: flex;
    justify-content: space-around;
}
