.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  background-image: url("../App/bulk.jpg");
  /* 
  position: absolute;
  width: 100%;
  z-index: 0;
   */
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  margin: auto;
}

.nav-link {
  float: left;
  color: black;
  background-color: #b6c5d1;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #87a0b3;
}

.nav-right {
  float: right;
}